
/* 1) Разбить общие стили - сделано
2) добавить focus - сделано
3) Проверить прозрачность на кнопах - сделано
4) Убрать height у блоков - сделано
5) catalog-item h3 прописать center - сделано
6) убрать селекторы через first-child и т.д. - сделано
7) Добавить стили для соц. кнопок - сделано */


body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

a:hover,
a:active,
a:focus {
  color: #ffbc9e;
}

.main-menu a {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #323232;
  background-color: #f7f6f3;
  border: solid 1px #ffffff;
}

.main-menu a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 0 1px #696969;
}

.main-menu,
.main-menu ul {
  list-style: none;
}

.current-page-item a {
  background-color: #d07058;
}

.sub-menu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.sub-menu-item a:hover,
.sub-menu-item a:focus {
  background-color: #fbded7;
}

.sub-menu-item a:active,
.sub-menu-item a:focus {
  background-color: #f6b5a5;
}

.sub-menu-item-new a {
  font-weight: 700;
}

.sub-menu-item-current a {
  background-color: #d07058;
}

.user-block-btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-block-btn:hover,
.user-block-btn:focus {
  color: #323232;

  background-color: rgba(248, 247, 244, 1);
}

.breadcrumbs-item,
.breadcrumbs-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:active,
.breadcrumbs-item a:focus {
  color: #ffbc9e;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.catalog ul {
  list-style: none;
}

.time-of-work {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.main-cover p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  color: #ffffff;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-color: #ea5339;
}

.btn:hover {
  color: #ffffff;
  background-color: #f07a63;
  box-shadow: 0 2px 0 2px #ac1000;
}

.btn:active,
.btn:focus {
  color: #ffffff;
  background-color: #f17b64;
  box-shadow: inset 0 2px 0 2px #942718;
}

.main-cover-btn {
  font-size: 32px;
  line-height: 44px;
}

.bonus ul {
  list-style: none;
}

.bonus-block {
  width: 560px;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.bonus-block p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.bonus-block h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.bonus-block-raspberry {
  background-color: #b70f34;
  background-image: url("../img/raspberry-bg.png");
}

.bonus-block-chocolate {
  background-color: #61361b;
  background-image: url("../img/chocolate-bg.png");
}

.mini-catalog ul {
  list-style: none;
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item h3 {
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.advantages {
  width: 1148px;
  padding: 20px;

  background-color: #e9d9ba;
  background-image: url("../img/waffle-bg.png");
  border-radius: 15px;
}

.advantages ul {
  list-style: none;
}

.advantages h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.new-in-blog {
  width: 560px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.new-in-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-in-blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  color: #323232;
}

.new-in-blog a:hover,
.new-in-blog a:active,
.new-in-blog a:focus  {
  color: #e84d37;
}

.subscribe {
  width: 560px;

  background-color: #f8f7f4;
  background-image:
    url("../img/subscribe-bg.png"),
    url("../img/mail-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.subscribe p {
  color: #5a5a5a;
}

.map {
  width: 1200px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  width: 300px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.social ul {
  list-style: none;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
  border: solid 3px rgba(255, 255, 255, 0.5);

  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover {
  border: solid 3px rgba(255, 255, 255, 0.7);

  opacity: 1;
}

.social-btn:active,
.social-btn:focus {
  border: solid 3px rgba(255, 255, 255, 0.7);

  /* box-shadow: inset 0 2px 0 1px rgba(136, 136, 136, 1); */
  opacity: 1;
}

.social-pic:active path,
.social-pic:focus path {
  fill: rgba(233, 233, 233, 1);
}

/* .social-btn-twitter {
  background-image: url("../img/twitter-pic.svg");
}

.social-btn-instagram {
  background-image: url("../img/instagram-pic.svg");
}

.social-btn-facebook {
  background-image: url("../img/fb-pic.svg");
}

.social-btn-vkontakte {
  background-image: url("../img/vk-pic.svg");
}

.footer-info ul {
  list-style: none;
} */

.footer-info-item a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.provider-item a {
  font-weight: 700;
}

.make-in-htmlacademy {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.sub-menu,
.search-form,
.login-form,
.modal-feedback {
  display: none;
}
