body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.main-page-body {
  background-color: #849d8f;
  background-image: url("../img/icecream-green.png");
  background-repeat: no-repeat;
  background-position: top;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

a:hover,
a:active,
a:focus {
  color: #ffbc9e;
}

.main-header {
  display: flex;
  justify-content: space-between;
  min-height: 73px;
}

.main-header-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 750px;
}

.logo {
  margin-top: 9px;
  margin-right: 24px;
}

.main-menu,
.main-menu ul {
  list-style: none;
}

.main-menu {
  display: flex;
  width: 680px;
  padding-left: 0;
  margin-top: 27px;
}

.main-menu li {
  padding-right: 28px;
}

.main-menu a {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus {
  color: #323232;
  background-color: #f7f6f3;
  border: solid 1px #ffffff;
}

.main-menu a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 0 1px #696969;
}

.current-page-item a {
  background-color: #d07058;
}

.sub-menu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.sub-menu-item a:hover,
.sub-menu-item a:focus {
  background-color: #fbded7;
}

.sub-menu-item a:active,
.sub-menu-item a:focus {
  background-color: #f6b5a5;
}

.sub-menu-item-new a {
  font-weight: 700;
}

.sub-menu-item-current a {
  background-color: #d07058;
}

.user-block {
  display: flex;
  justify-content: flex-end;
  width: 293px;
}

.user-block-btn {
  height: 32px;
  margin-top: 23px;
  margin-left: 10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-block-btn:hover,
.user-block-btn:focus {
  color: #323232;

  background-color: rgba(248, 247, 244, 1);
}

.search-btn {
  width: 32px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.login-btn {
  width: 47px;
  height: 24px;
  padding-top: 8px;
  padding-left: 45px;
}

.cart-btn {
  width: 55px;
  height: 24px;
  padding-top: 8px;
  padding-left: 45px;
}

.full-cart-btn {
  width: 77px;
  height: 24px;
  padding-top: 8px;
  padding-left: 40px;
}

.promo {
  display: flex;
  flex-direction: column;
  min-height: 533px;
  padding-top: 0;
  margin-bottom: 41px;
}

.details-of-work {
  margin: 0;
  padding: 0;

  text-align: right;
}

.promo-title {
  width: 675px;
  align-self: center;
  margin-top: 273px;
  margin-bottom: 30px;

  text-align: center;
}

.breadcrumbs-and-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 40px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs-item,
.breadcrumbs-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 19px;

  list-style: none;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:active,
.breadcrumbs-item a:focus {
  color: #ffbc9e;
}

.filters {
  display: flex;
  min-height: 153px;
  margin-bottom: 40px;
}

.pricerange-title,
.filters-form label,
.filters-form legend {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.pricerange-title {
  margin: 0;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
}

.filters-form fieldset {
  border: 0;
}

.sorting {
  display: flex;
  width: 200px;
  min-height: 55px;
}

.pricerange {
  display: flex;
  width: 220px;
  min-height: 55px;
}

.pricerange-filter {
  width: 196px;
  height: 37px;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 22px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.pricerange-filter-line {
  width: 176px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);
}

/* .pricerange-button {
  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../img/filter-button.svg");
} */

.fatness {
  width: 345px;
}

.type {
  width: 553px;
}

.fatness-sorting {
  display: flex;
  min-height: 37px;
  padding: 0;
  margin: 0;
}

.fatness-sorting-item {
  margin-right: 12px;
}

.type-sorting {
  display: flex;
  min-height: 37px;
  padding: 0;
  margin: 0;
}

.fatness-sorting,
.type-sorting {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.fatness-sorting-item label,
.type-sorting-item label,
.sorting-select,
.sorting-select-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.sorting-select {
  width: 195px;
  height: 37px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.sorting-select:hover,
.sorting-select:focus {
  color: #323232;
}

.sorting-select-item {
  color: #323232;

  background-color: #ffffff;
}

.filter-btn {
  width: 140px;
  height: 37px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 15px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;

  background-color: rgba(255, 255, 255, 1);
}

.filter-btn:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 0 1px #696969;
}

.catalog {
  margin-bottom: 33px;
}

.catalog-title {
  width: 1146px;
  padding: 0;
  margin: 0 auto;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

.time-of-work {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.promo-title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  color: #ffffff;
}

.btn {
  display: inline-block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.raspberry-btn {
  opacity: 0.99;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  background-image: linear-gradient(to top, #ca3824, #f26843);
}

.raspberry-btn:hover {
  opacity: 1;
  box-shadow: 0px 1px 2px 0 #ac1000;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #f07a63;
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image:
    linear-gradient(to top, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.btn:active {
  color: #ffffff;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image:
    linear-gradient(to bottom, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.promo-btn {
  align-self: center;
  width: 278px;
  height: 54px;
  padding-top: 9px;

  font-size: 32px;
  line-height: 44px;
  text-align: center;

  border-radius: 35px;
}

.bonus {
  display: flex;
  justify-content: center;
  min-height: 229px;
  margin-bottom: 40px;
}

.bonus-list {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.bonus-block {
  width: 560px;
  min-height: 229px;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.bonus-block p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.bonus-block h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.bonus-block-raspberry {
  background-color: #b70f34;
  background-image: url("../img/raspberry-bg.png");
}

.bonus-block-chocolate {
  background-color: #61361b;
  background-image: url("../img/chocolate-bg.png");
}

.mini-catalog {
  display: flex;
  justify-content: center;
  width: 1146px;
  min-height: 326px;
  padding: 0;
  margin-bottom: 36px;
}

.mini-catalog-list {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  min-height: 326px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 267px;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.catalog-item p {
  margin: 0;
  position: absolute;
  top: 209px;
  left: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.price-sub {
  font-size: 30px;
}

.catalog-item h3 {
  margin: 0;
  margin-top: 7px;

  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  min-height: 30px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  min-height: 35px;
  width: 180px;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  display: block;
  width: 27px;
  height: 27px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.pagination-item a:hover,
.pagination-item a:focus {
  display: block;
  width: 27px;
  height: 27px;

  text-align: center;
  color: #ffffff;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  display: block;
  width: 27px;
  height: 27px;

  text-align: center;
  color: #323232;

  border-radius: 50%;
  background-color: #f5f6f5;
}

.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:focus {
  color: #323232;
}

.arrow-right,
.arrow-left {
  display: block;
  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.arrow-left {
  opacity: 0.2;

  transform: rotate(180deg);
}

.advantages {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 306px;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-left: 20px;

  text-align: left;

  background-color: #e9d9ba;
  background-image: url("../img/waffle-bg.png");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.advantages-list ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages-column-left ul {
  width: 485px;
  padding: 0;
  margin: 0;
  padding-left: 56px;
}

.advantages-column-right ul {
  width: 475px;
  padding: 0;
  margin: 0;
  margin-right: 28px;
  padding-left: 56px;
}

.advantages h1 {
  margin: 0;
  margin-bottom: 4px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.item-technology,
.item-farm {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.news-and-subscribe {
  display: flex;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 40px;
}

.new-in-blog {
  width: 540px;
  min-height: 210px;
  padding-left: 20px;
  padding-top: 10px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.new-in-blog h2 {
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-in-blog a {
  display: inline-block;
  width: 290px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  color: #323232;
}

.new-in-blog a:hover,
.new-in-blog a:active,
.new-in-blog a:focus  {
  color: #e84d37;
}

.subscribe {
  width: 533px;
  min-height: 203px;
  padding-left: 27px;
  padding-top: 17px;

  background-color: #f8f7f4;
  background-image:
    url("../img/subscribe-bg.png"),
    url("../img/mail-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.subscribe p {
  width: 510px;
  margin-bottom: 35px;

  color: #5a5a5a;
}

.map {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  height: 429px;
  margin: 0 auto;
  padding: 0;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  align-self: center;
  width: 302px;
  min-height: 305px;
  margin-right: 27px;
  padding-left: 25px;
  padding-top: 14px;
  padding-right: 55px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #fefefe;
  border-radius: 13px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
}

.social {
  display: flex;
  justify-content: flex-start;
  width: 267px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 185px;
  padding: 0;
  padding-left: 1px;
  padding-top: 20px;

  list-style: none;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
  border: solid 3px rgba(255, 255, 255, 0.5);

  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.8;
}

.social-btn:hover {
  border: solid 3px rgba(255, 255, 255, 0.7);

  opacity: 1;
}

.social-btn:active,
.social-btn:focus {
  border: solid 3px rgba(255, 255, 255, 0.7);

  /* box-shadow: inset 0 2px 0 1px rgba(136, 136, 136, 1); */
  opacity: 1;
}

.social-pic:active path,
.social-pic:focus path {
  fill: rgba(233, 233, 233, 1);
}

.footer-info {
  width: 450px;
  margin: 0;
  padding: 0;
}

.footer-info-list {
  display: flex;
  justify-content: space-between;
  width: 330px;
  padding: 0;
  margin: 0;
  margin-top: 29px;
  margin-left: 10px;

  list-style: none;
}

.info-list-column ul {
  padding: 0;

  list-style: none;
}

.info-column-1 {
  padding-left: 26px;
}

.footer-info-item a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.provider-item a {
  font-weight: 700;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 65px;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.htmlacademy-logo {
  padding: 0;
  margin: 0;
}

.make-in-htmlacademy {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.sub-menu,
.search-form,
.login-form,
.modal-feedback {
  display: none;
}
