body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

a:hover,
a:active,
.copyright a:last-of-type:hover,
.copyright a:last-of-type:active,
.breadcrumbs-item a:hover,
.breadcrumbs-item a:active {
  color: #ffbc9e;
}

.main-menu a {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.main-menu a:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.current-page-item a {
  background-color: #d07058;
}

.sub-menu-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.sub-menu-item a:hover {
  background-color: #fbded7;
}

.sub-menu-item a:active {
  background-color: #f6b5a5;
}

.sub-menu-item-new a {
  font-weight: 700;
}

.sub-menu-item-current a {
  background-color: #d07058;
}

.main-menu,
.main-menu ul,
.breadcrumbs,
.catalog ul,
.bonus ul,
.mini-catalog ul,
.advantages ul,
.social ul,
.footer-info ul {
  list-style: none;
}

.user-block-btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;

  background-color: #a1b4a9;
}

.user-block-btn:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.breadcrumbs-item,
.breadcrumbs-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.time-of-work {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.main-cover p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  color: #ffffff;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-color: #ea5339;
}

.btn:hover {
  color: #ffffff;
  background-color: #f17b64;
}

.main-cover-btn {
  font-size: 32px;
  line-height: 44px;
}

.bonus-block {
  width: 560px;
  height: 230px;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.bonus-block p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.bonus-block h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.bonus-block-raspberry {
  background-color: #b70f34;
  background-image: url("../img/raspberry-bg.png");
}

.bonus-block-chocolate {
  background-color: #61361b;
  background-image: url("../img/chocolate-bg.png");
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item h3 {
  font-weight: 500;
  color: #ffffff;
}

.advantages {
  width: 1148px;
  height: 305px;
  padding: 20px;

  background-color: #e9d9ba;
  background-image: url("../img/waffle-bg.png");
  border-radius: 15px;
}

.advantages h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.new-in-blog {
  width: 560px;
  height: 220px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.new-in-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-in-blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  color: #323232;
}

.new-in-blog a:hover,
.new-in-blog a:active {
  color: #e84d37;
}

.subscribe {
  width: 560px;
  height: 220px;

  background-color: #f8f7f4;
  background-image:
    url("../img/subscribe-bg.png"),
    url("../img/mail-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.subscribe p {
  color: #5a5a5a;
}

.map {
  width: 1200px;
  height: 430px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts {
  width: 300px;
  height: 305px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.contacts h3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts p:first-of-type {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts p:nth-last-of-type(2) {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contacts p:nth-of-type(2n) {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts p:last-of-type {
  line-height: 22px;
}

.social-btn {
  display: block;
  width: 32px;
  height: 32px;
}

.social-btn-twitter {
  background-image: url("../img/twitter-pic.svg");
}

.social-btn-instagram {
  background-image: url("../img/instagram-pic.svg");
}

.social-btn-facebook {
  background-image: url("../img/fb-pic.svg");
}

.social-btn-vkontakte {
  background-image: url("../img/vk-pic.svg");
}

.footer-info-item a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-info-item:first-child a {
  font-weight: 700;
}

.copyright a:last-of-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.sub-menu,
.search-form,
.login-form,
.modal-feedback {
  display: none;
}
